.main
  padding-top: 50px
  padding-bottom: 50px
  position: relative 
  &-wrap
    display: flex
    flex-direction: column
    align-items: center
    &__picture
      &--repeat
        display: none
    &__painter
      &--repeat
        display: none
    &__button
      width: 300px
      font-size: 50px
      margin-bottom: 25px
      border-radius: 10px
      background-color: #FFD700
      color: #fff
      border-radius: 5px
      border: none
      cursor: pointer
      &:last-child
        margin-bottom: 0
.painter
  &-info
    &__button
      width: 130px
  &-modal
    &__button
      width: 177px
    &__result
      width: 130px
  &-result
    &__main
      width: 130px
  &-final
    &__button
      width: 130px
      margin-bottom: 15px
  &-type
    left: 38%
    padding-top: 20px
    &__buttons
      display: flex
      justify-content: space-between
    &__main
      width: 120px
    &__categ
      width: 120px
  &-wrap
    &__close
      margin-top: 20px
    &__categories
      padding-top: 30px
      padding-bottom: 30px
    &__btn
      border: 1px solid #0000FF
      border-radius: 10px
      position: relative
      width: 450px
      height: 50px
      margin-bottom: 10px
      cursor: pointer
      color: #fff
      &:hover
        border: 1px solid yellow
        color: black
        background-color: #fff
      &:last-child
        margin-bottom: 0
    &__span
      position: absolute
      top: 3px
      left: 10px
      &--result
        position: absolute
        top: 3px
        right: 10px
        
    &__btn
      color: #fff
      
      &--result
        position: absolute
        bottom: 0
        right: 10px
        background-color: #FFD700
        cursor: pointer
        border-radius: 5px
    &__one
      background-color: #0000CD   
    &__two
      background-color: #800080    
    &__three
      background-color: #DAA520    
    &__four
      background-color: #FF00FF     
    &__five
      background-color: #00FF00    
    &__six
      background-color: #3c323c   
    &__seven
      background-color: #556B2F     
    &__eight
      background-color: #800000    
    &__nine
      background-color: #D2691E    
    &__ten
      background-color: #5F9EA0
    &__eleven
      background-color: #2F4F4F
    &__twelve
      background-color: #808000
      
.picture
  &-info
    &__button
      width: 130px
  &-result
    &__buttons
      width: 360px
      display: flex
      justify-content: space-between
    &__main
      width: 130px
    &__update
      width: 130px

  &-final
    &__button
      margin-bottom: 15px
      width: 130px
  &-modal
    &__result
      width: 130px
    &__button
      width: 177px
  &-type
    left: 35%
    padding-top: 20px
    &__buttons
      display: flex
      justify-content: space-between
      margin-bottom: 15px
    &__main
      width: 130px
    &__categ
      width: 130px
  &-wrap
    &__categories
      padding-top: 30px
      padding-bottom: 30px
    &__close
      margin-top: 20px
    &__btn
      border: 1px solid green
      border-radius: 10px
      position: relative
      width: 450px
      height: 50px
      margin-bottom: 10px
      cursor: pointer
      &:last-child
        margin-bottom: 0
      &:hover
        border: 1px solid red
        color: blue
        background-color: #fff
      &--result
        position: absolute
        bottom: 0
        right: 10px
        background-color: #FFD700
        cursor: pointer
        border-radius: 5px
    &__span
      position: absolute
      top: 3px
      left: 10px
      &--result
        position: absolute
        top: 3px
        right: 10px
    &__one
      background-color: #00FFFF
    &__two
      background-color: #E6E6FA
    &__three
      background-color: #FFFFE0
    &__four
      background-color: #FFA07A
    &__five
      background-color: #FFC0CB
    &__six
      background-color: #FFE4E1
    &__seven
      background-color: #00FF7F
    &__eight
      background-color: #DCDCDC
    &__nine
      background-color: #20B2AA
    &__ten
      background-color: #87CEFA
    &__eleven
      background-color: #7FFFD4
    &__twelve
      background-color: #FAEBD7

.options
  &-wrap
    padding-top: 50px
    &__select
      margin-top: 15px
    &__btn
      margin-bottom: 10px
    &__select
     font-size: 15px
      
    
